@import "../colors";

#abroad {
  .fill {
    grid-area: 9/2/21/19;
    border-bottom-right-radius: 4rem;
    border-top-left-radius: 2rem;
  }

  .img {
    background-image: url(assets/american-robot.jpg);
    grid-area: 1/13/21/18;
  }

  h1 {
    grid-area: 3/3/8/12;
    font-size: 6rem;
    text-align: right;

  }

  .quotes {

    grid-area: 10/5/21/11;

    font-family: Montserrat, sans-serif;
    font-weight: bold;
    color: $rich-black;

    > blockquote {
      background-color: transparent;
      font-weight: bold;
      padding: 0 0 0 2ex;
      border-left: solid 1ex;
    }

  }
}