section.golden-grid.page-section#abroad
  .fill
  .img
  h1 Страны-флагманы
  .quotes
    | Как думаете, в каких странах будет интенсивно развиваться кибернетизация?
    blockquote.
      Американцы, японцы, южные корейцы, может
      быть германцы лучше всего продвинутся в этой сфере, потому
      что у них есть и&nbsp;финансирование, и&nbsp;почва для проведения таких
      работ
    blockquote.
      Я считаю, данные технологии будет развивать Японию &hellip; Ну и разумеется, если развиваться в этой
      области будет Япония, то в ней же будут развиваться и Соединенные штаты