section.golden-grid.page-section#abroad
  .fill
  .img
  h1 Страны-флагманы
  .quotes
    | В каких странах будет интенсивно развиваться кибернетизация?
    blockquote.
      Американцы, японцы, южные корейцы, может
      быть немцы лучше всего продвинутся в этой сфере: у них есть и&nbsp;финансирование,
      и&nbsp;почва для проведения таких работ
    blockquote.
      Я считаю, данные технологии будут развиваться в Японию &hellip; Ну и разумеется, если развиваеться в какой-то
      области Япония, то и США не будут отставать