section.page-section#definition
  dl
    dt Кибернетизация это&hellip;
    dd это интеграция каких-то автоматизированных вещей, не биологических, в биологическую структуру человек
    dd это замена имплантом любого органа человеческого тела, например, если этот орган не может уже функционировать
    dd это, когда люди расширяют свои
      | возможности за счёт каких-либо имплантантов или
      | возвращают утраченные способности с помощью
      | киберпротезов, например, механического запястья