section.golden-grid.page-section#fashion
  .fill
  .img
  h1 Это модно
  .quotes
    blockquote.
      Рука, которая может прожить без
      подзарядки месяц и может сделать
      тебе кофе, – это последний айфон, а рука, установленная Арсеном
      в подвале, которая может тебе сделать шаурму и после этого
      разрядится – айфон 5S
    blockquote.
      Наверное, все тело будет модно кибернетизировать, чем больше у тебя кибернетических частей тела, тем ты круче.
    blockquote.
      Общественное мнение окажет
      большое влияние. Появятся объединения таких людей, своя
      культура, к которой многие захотят приобщиться