section.golden-grid.page-section#limits
  .fill
  //.fill
  .img
  h1 Без границ
  .quotes
    | До какого момента можно изменять своё тело?
    blockquote Не вижу смысла в ограничениях
    blockquote Может 98%, потому что 2 процента тела это мозг
    blockquote Если мозг заменять поклеточно, то в какой момент он перестанет быть мозгом?
//
  > Не вижу смысла в ограничениях

  > может 98%, потому что 2 процента тела это мозг.

  > Если мозг заменять по клеточно, то в какой момент он перестанет быть мозгом?
