section.golden-grid.page-section#pros-cons
  .fill
  .img
  .quotes#pros
    h2 За
    blockquote.
      Если это улучшит жизнь людей и они будут к этому готовы, то
      почему нет
    blockquote.
      Везде есть те, кто против трендов, и кибернетизация будет таковой
    blockquote.
      Всегда найдутся противники кибернетизирования, хоть и&nbsp;их
      количество явно будет незначительно в сложившихся условиях

  .quotes#cons
    blockquote.
      Человек должен оставаться человеком, а не мутантом или
      роботом. Зачем это все? Кто оценивает последствия всех таких
      вмешательств? Таким макаром действительно может настать
      глобальная катастрофа, как в кино, все эти роботы нападают
      на человечество и господствуют во всем мире

    h2 Против