@import "../colors";

#pros-cons {

  .fill {
    grid-area: 1/1/12/21;
    border-bottom-left-radius: 6rem;
  }

  .img {
    background-image: url(./assets/titan-arm.jpg);
    grid-area: 3/12/21/19;
  }

  .quotes {
    font-family: Montserrat, sans-serif;

    > h2 {
      margin-left: 2.5rem;
      font-size: 4rem;
    }


    > blockquote {
      font-weight: bold;
      padding: 0 0 0 2rem;
      border-left: solid .5rem;
      font-family: "Fira Mono", monospace;
    }
  }

  #pros {
    grid-area: 1/4/12/11;
    color: $rich-black;
    align-self: end;

    > blockquote {
      background-color: transparent;
    }

  }

  #cons {
    grid-area: 12/4/21/11;

  }
}