section.golden-grid.page-section#russia
  .fill
  .img
  h1 В России
  .quotes
    blockquote.
      Думаю, что в России это будет так же,
      как и в других странах: дорогие импланты будут устанавливаться
      людям, которые могут за это заплатить. Разумеется, таковых не так много
    blockquote.
      Ну, Россия — это Россия… Здесь мы разве что увидим бабу с кибернетизированным ведром
    blockquote.
      Будут говорить, что это бездуховно, и будут приводить в аргументы религию и прочее