section.page-section.-quotes#quotes
  .img
    img(src='./assets/warbot.jpg')
  .text
    p.thesis Небольшой тезис. Например: в будущем достижения кибернетизации будут использовать в военной сфере
    .quotes
      blockquote Учусь на 2-ом курсе в Тверском государственном университете в разработке программно-информационных систем
      blockquote
        | С моей точки зрения, это интеграция каких-то
        | автоматизированных вещей, не биологических, в биологическую
        | структуру человека