section.-middle.-pad#quotes
  div.u-flex.-col
    blockquote Учусь на 2-ом курсе в Тверском государственном университете в разработке программно-информационных систем
    blockquote
      | С моей точки зрения, это интеграция каких-то
      | автоматизированных вещей, не биологических, в биологическую
      | структуру человека
  img(src='./assets/warbot.jpg' width=340)