+quotes-section('warbot.jpg')
  h1 Военные будут использовать кибернетизацию для усиления
  p.
    Люди старшего возраста не одобряют полную кибернетизацию тела. Прогрессивная молодёжь наоборот, считает это делом
    времени

  blockquote Учусь на 2-ом курсе в Тверском государственном университете в разработке программно-информационных систем
  blockquote
    | С моей точки зрения, это интеграция каких-то
    | автоматизированных вещей, не биологических, в биологическую
    | структуру человека

+quotes-section( 'clone.jpg')
  h1 Люди перестают бояться
  p.
    Люди старшего возраста не одобряют полную кибернетизацию тела. Прогрессивная молодёжь наоборот, считает это делом
    времени
  blockquote.
    С моей точки зрения #[br]
    asdfasdfasdf
//section.page-section.-reverse.-quotes#quotes
  .img
    div.filler
  .text
    p.thesis Небольшой тезис. Например: в будущем достижения кибернетизации будут использовать в военной сфере
    .quotes
      blockquote Учусь на 2-ом курсе в Тверском государственном университете в разработке программно-информационных систем
      blockquote Учусь на 2-ом курсе в Тверском государственном университете в разработке программно-информационных систем
      blockquote Учусь на 2-ом курсе в Тверском государственном университете в разработке программно-информационных систем
      blockquote
        | С моей точки зрения, это интеграция каких-то
        | автоматизированных вещей, не биологических, в биологическую
        | структуру человека