.golden-grid.page-section#sport
  .fill
  .img
  h1 Новый киберспорт
  .quotes
    blockquote Будет отдельная команда из киборгов, выступающая под флагом своей страны
    blockquote Такие боксерские поединки были бы очень и очень зрелищными
    blockquote Скорее всего это будут соревнования не между людьми; а&nbsp;между компаниями, которые делают эти киберимпланты
      | и представляют свою страну