@import "../colors";

#sport {
  .fill {
    grid-area: 8/1/21/19;
    border-top-right-radius: 4rem;
  }

  .img {
    grid-area: 1/1/21/16;
    background-image: url('./assets/real-steel-masked.png');
    background-position: right center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  h1 {
    grid-area: 3/3/7/14;
    font-size: 5rem;
    text-align: right;
  }

  .quotes {
    grid-area: 6/13/16/17;
  }
}