section.-pad#summary
  p Мы провели интервью у #[strong 23 россиян]
  p Мы узнали их представление о будущем с кибернетизацией
//h1 Исследование
    //    dl
    //        dt Проведено
    //        dd гр. ИУ6-12Б, МГТУ им. Н.Э.Баумана
    //        dt Респонденты
    //        dd Мужчины и женщины
    //        // Тут нужны процентные соотношения
    //        dt Количество
    //        dd 23 человека