section#summary
  p Исследование проведено гр. #[strong ИУ6-12Б] МГТУ им. Н.Э.Баумана
  p На основе интервью #[strong 23 россиян] &mdash; москвичей и жителей подмосковья
  p
    | Исходный код лендинга на&nbsp;
    a(href='https://github.com/BANOnotIT/cybernetization') GitHub

  .copy BANO.notIT &copy; 2019