section#summary
  p Исследование проведено гр. #[strong ИУ6-12Б] университета #[strong МГТУ им. Н.Э.Баумана]
  p Взято интервью у #[strong 23 россиян], в&nbsp;основном у москвичей и жителей подмосковья
  p
    | Исходники этого лендинга на&nbsp;
    a(href='https://github.com/BANOnotIT/cybernetization') GitHub

  .copy BANO.notIT &copy; 2019