@import "../colors";


#summary {
  color: $text2;

  font-size: 3rem;
  text-align: center;

  font-family: 'Montserrat', sans-serif;

  h1 {
    //text-align: center;
    font-size: 5rem;
    margin-top: 0;
  }

  dl {
    margin-bottom: 0;
    font-size: 2rem;

    dd {
      font-weight: bold;
    }
  }
}
