@import "../colors";


#summary {
  color: $text2;

  font-size: 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  font-family: Montserrat, sans-serif;

  > * {
    max-width: 1000px;
  }

  a {
    color: $text2
  }
}
