section.golden-grid.page-section#usage
  .fill
  .img
  h1 Начало в&nbsp;медицине

  .quotes
    blockquote.
      В первую очередь это будет очень востребовано у инвалидов,
      у&nbsp;людей с&nbsp;ограниченными возможностями здоровья
    blockquote.
      Быстрые ноги, сильные руки, острое зрение. Что еще нужно
      человеку для счастья?
    blockquote.
      Я бы сделала упор на сердце, наверное. И&nbsp;другие внутренние
      органы, которые обеспечили бы, аля &laquo;вечную жизнь&raquo;