#usage {
  > .img {
    background-image: url(assets/prosthetic-masked.png);
    background-position: bottom right;
    grid-area: 1 / 1 / 21 / 11;
  }

  > h1 {
    font-size: 4rem;
    grid-area: 4 / 12 / span 2 / span 6;
    text-align: right;
    margin: 0;
  }

  > .quotes {
    grid-area: 7 / 9 / span 7 / span 6;
  }

  > .fill {
    grid-area: 8 / 1 / span 10/ 18;
  }
}