//@import url('https://fonts.googleapis.com/css?family=Fira+Mono|Montserrat:400,900&display=swap');
@import "colors";

html, body {
  margin: 0;
  bottom: 0;
  padding: 0;
}


section {
  font-size: 1.6rem;
  min-height: 100vh;
  position: relative;
  //overflow-y: hidden;

  &.-middle {

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.-pad {
    padding: 150px 300px;
    box-sizing: border-box;
  }

  &.-vertical {
    flex-direction: column;
  }
}

footer {
  background: wheat;

  font-family: 'Fira Mono', monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;

  font-size: 1.4em;

  a {
    color: $secondary;
  }
}

.u-flex {
  display: flex;

  &.-col {
    flex-direction: column;
  }
}